/* GENERAL */

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  max-width: 1400px;
  margin: auto;
  padding-top: 50px;
}

h1 {
  padding-top: 40px;
  padding-bottom: 8px;
  margin: 0;
  font-size: 22px;
}

h2 {
  padding-bottom: 10px;
  font-size: 18px;
 }

h3 {
  margin: 20px;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}

h4 {
  font-size: 16px;
  margin: 15px;
}

h5 {
  padding-bottom: 20px;
  font-size: 21px;
}

p {
  font-size: 14px;
  margin-top: 0;
  padding-top: 0;
}

/* HEADER */

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

a:hover {
  color: #0065FC;
}

.a1 {
  padding-top: 49px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: transparent;
}

.a1:hover {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #0065FC;  
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-left: 40px;
  padding: 20px;
}

img#logo {
  border-radius: 0%;
  width: 61.09px;
  height: 19px;
}

/* MAIN */

/*Section Recherche */
.recherche {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pointeur {
  border-width: 2px;
  border-style: solid;
  border-color: #D9D9D9;  
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  background-color: #D9D9D9;
}

input {
  font-weight: bold;
}

input#search {
  width: 100%;
  border: transparent;
  font-size: 18px;
}

.barre {
  border-width: 2px;
  border-style: solid;
  border-color: #D9D9D9; 
  display: flex;
  align-items: center;
  padding: 10px;
}

input#bouton {
  background-color: #0065FC;
  color: white;
  font-size: 16px;
  border-color: transparent;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 14px;
  text-align: center;
  position: relative;
  right: 2px;
}

input#search {
  outline: none;
}

/* Section Filtres */
.ensemble-filtres{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.button-filtres {
  display: inline-flex;
  font-weight: bold;
  font-size: 18px;
  background: white;
  border-color: #D9D9D9;
  border-style: solid;
  border-width: 2px;
  margin: 30px;
  padding: 15px;
  gap: 20px;
  border-radius: 40px;
}

.button-filtres:hover {
  background-color: #DEEBFF;
  cursor: pointer;
}

.info {
  display: inline-flex;
  margin-bottom: 40px;
}

.info-txt {
  font-size: 16px;
  margin-left: 20px;
}

/* Général Hébergement + Populaire */
.aligne {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

article {
  width: 100%;
  height: 100%;
}

h1 + p {
  margin: 0;  
}

.hebergements img,
.activites img,
.populaire img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lien-conteneur-photo {
  position: relative;
}

i {
  color: #0065FC;
}

i#loc {
  color: black;
}

.icon {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Section Hébergement */
.sectionHebergements {
  background-color: #F2F2F2;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: 70%;
}

.flex1 {
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 100%;
  margin-bottom: 10px;
}

.hebergements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  gap: 30px;
  width: 100%;
  padding: 0;
}

.img-heb {
  padding: 5px;
  padding-bottom: 0;
}

.img-heb img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 124px;
  width: 100%;
}

.txt-heb {
  padding: 15px;
  padding-top: 0;
}

.txt-heb, 
.img-heb {
  border-radius: 20px;
}

/*Section Populaire */
.sectionPopulaire {
  background-color: #F2F2F2;
  border-radius: 20px;
  padding-left: 37px;
  padding-right: 37px;
  padding-bottom: 34px;
  width: 30%;
}

.flex2 {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.populaire {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 150px;
  gap: 40px;
  width: 100%;
}

.img-pop {
  padding: 5px;
  padding-right: 0;
  height: 144px;
}

.img-pop img {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  height: 144px;
  width: 137px;
}

.txt-pop {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 5px;
  height: 50%;
}

.txt{
  flex-direction: row;
}

.flexRow {
  display: flex;
  flex-direction: column;
}

/* Section Activités */
.sectionActivites {
  width: 100%;
  margin-bottom: 40px;
}

.flex3 {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.activites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 200px;
  gap: 30px;
}

.img-act {
  padding: 0;
}

.img-act img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 389px;
  width: 100%;
}

.txt-act {
  padding: 5px;
  padding-top: 0;
}

/* RATING SYSTEM */
.stars {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 40%;
  width: 50%;
}

.flexRow .stars {
  padding-left: 15px;
}

.fa-star {
	color: rgb(240, 240, 240);
	cursor: pointer;
}


.fa-star.blue {
	color: #0065FC;
}

.stars:hover .fa-star {
  color: #0065FC;
}

.stars .fa-star:hover ~ .fa-star {
  color: rgb(240, 240, 240);
}

/* FOOTER */
.foot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px;
  background-color: #F2F2F2;
}

.a-propos, 
.heb,
.assitance {
  font-size: 16px;
  margin-left: 50px;
  margin-top: 20px;
 }

 .a2 {
  padding-bottom: 10px;
 }

/* Tablettes */
@media only screen and (min-width: 768px) and (max-width: 992px){
  body {
    margin: auto;
    width: 90%;
  }

  .a-propos h2 {
    font-size: 18px;
  }

  .a-propos a {
    font-size: 16px;
  }

  h3 {
    font-size: 16px;
  }

  h5 {
    font-size: 18px;
  }

  .txt-pop p {
    font-size: 13px;
  }

  .txt-pop h3 {
    font-size: 14px;
  }

  .button-filtres {
    margin: 7px;
    font-size: 17px;
  }

  .aligne {
    display: flex;
    flex-direction: column;
  }

  .sectionHebergements {
    order: 1;
    width: auto;
  }

  .sectionPopulaire {
    order: 2;
    width: auto;
  }

  .activites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 267px;
    gap: 50px;
    margin-bottom: 69px;
  }

  .img-pop img {
    width: 106px;
  }

  .populaire {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px;
    gap: 20px;
    padding-bottom: 20px;
    width: 100%;
  }

  .flex3 {
    height: 267px;
  }

  .txt-act {
    height: 51px;
  }

  .txt-act span h4 {
    margin-top: 7px;
  }

  .img-act img{
    height: 211px;
  }

  .a-propos, 
  .heb,
  .assitance {
    font-size: 16px;
    width: 100%;
   }



 /* Téléphones portables */
 @media only screen and (max-width: 768px) {

 }