/* GENERAL */

* {
  margin: 10px;
  max-width: 1400px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

/* HEADER */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #0065FC;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

nav a {
  margin-left: 100px;
}

h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

li {
  display: list-item;
}

/* MAIN */

.sectionRecherche {

}

.sectionHebergements {
  background-color: #F2F2F2;
  padding: 20px;
  width: 70%;
}

.sectionPopulaire {
  padding: 20px;
  background-color: #F2F2F2;
  width: 30%;
}

.aligne {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.sectionActivites {
  margin: 0;
}

.grid-hebergements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 200px 200px;
    gap: 20px;
  }

.grid-activites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 400px;
  gap: 40px;
}

.grid-populaire {
  display: grid;
  grid-template-columns: 0.5fr;
  grid-template-rows: 150px 150px 150px;
  gap: 20px;
}

.grid-hebergements img,
.grid-activites img,
.grid-populaire img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-hover {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  margin: 0;
  padding: 0;
}

.lien-conteneur-photo {
  position: relative;
  margin: 0;
}

.lien-conteneur-photo:hover .photo-hover {
  display: flex;
}

img {
  margin: 0;
  border-radius: 20px;
}



/* FOOTER */
.foot {
  display: flex;
  flex-direction: row;
  background-color: #F2F2F2;
  justify-content: flex-start;
  width: 100%;
;
}

.a-propos, 
.hebergements,
.assitance {
  padding: 30px;
  margin-right: 150px;
 }

 h2 {
  padding-bottom: 10px;
 }

